/* *{
    overflow: hidden;
} */
body {
  background-color: #252525;
}
header {
  /* height: 30px; */
  padding: 8px;
  background-color: #474747;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  color: white;
}

.all-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 25px;
  padding: 0px 20px 0px 20px;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.all-posts img {
  height: 300px !important;
  width: 100%;
}
.each-post {
  min-height: 500px !important;
  min-width: 400px !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  box-shadow: -5px 3px 22px 0px rgba(141, 140, 140, 0.62);
  -webkit-box-shadow: -5px 3px 22px 0px rgba(255, 255, 255, 0.62);
  -moz-box-shadow: -5px 3px 22px 0px rgba(255, 255, 255, 0.62);
  padding: 10px;
}
.each-post2 {
  min-height: 200px !important;
  min-width: 400px !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  box-shadow: -5px 3px 22px 0px rgba(141, 140, 140, 0.62);
  -webkit-box-shadow: -5px 3px 22px 0px rgba(255, 255, 255, 0.62);
  -moz-box-shadow: -5px 3px 22px 0px rgba(255, 255, 255, 0.62);
  padding: 10px;
}

@media screen and (max-width:520px){
    .each-post, .each-post2{
        width: 90vw;
    }
}
