.main-login{
    background-color: #354152;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}
.login{
    background-color: #2130468f;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 8px 33px 36px #202731;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.login form input{
    height: 45px;
    width: 300px;
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    outline: none;
    color: white;
}
.login form button{
    height: 45px;
    width: 300px;
    border-radius: 8px;
    background-color: #53AD90;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
.login form input::placeholder{
    text-align: center;
    color: rgb(196, 198, 199);
}
.login span a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}
.login h2{
    font-size: 40px;
    color: #c6c8ce;
}